* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(42, 71, 222)
}

#anfang-container {
    background-image: url('./img/capaCartao.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Play', sans-serif;
    height: 42rem;
    display: flex;
    flex-flow: column;
    position: relative;
    border-bottom: 3px solid white;

}

 #anfang-container > h1 {
    padding-top: 30px;
    text-align: center;
    font-size: 70px;
    text-shadow: 5px 5px 20px #000000, 0 0 10px black, 0 0 5px darkblue;

}

div > nav > ul{
   margin-left: 4rem;
   margin-right: 30rem;

}

nav {
    padding-top: 15px;

}

#box-nav > nav >ul {
    background-color: rgb(247,148,30);
    list-style-type: none;
    overflow: hidden;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 12px;
    display:inline-block;
    border: 2px solid white;


    
   
}

#box-nav > nav > ul > li {
    float: left;
    padding: 0rem 4.5rem 0rem 4.5rem;
    

}

li > a {
    text-decoration: none;
    color: white;
    font-size: 17pt;
    padding: 10px 15px;
    
}

#anfang-text {
    font-size: 80px;
    text-shadow: 5px 5px 20px #000000, 0 0 10px black, 0 0 5px darkblue;
    padding: 35px 390px 0px 0px;

}

#box-agent  {
    padding-left: 100px;
    position: absolute;
    align-self: flex-end;
    padding: 35px 75px 50px 0px;
    color: white;
    text-shadow:
               0 6px 10px rgba(0,0,0,.1),
               0 0 10px rgba(0,0,0,.1),
               0 7px 3px rgba(0,0,0,.3),
               0 8px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#agent-img {
    width: 300px;
    height: 270px;
    border-radius: 50%;
    box-shadow: black 2px 2px 20px 15px;
}

#box-agent > p {
    font-family: 'Play', sans-serif;
    font-size: 25px;
    width: 22rem;
    padding-top: 15px;
}

#anfang-box-button {
    align-self: center;
    padding-top: 80px;

 }

#anfang-box-button > a > button {
    padding: 15px;
    background-color: rgb(247,148,30);
    color: white;
    font-family: 'Play', sans-serif;
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    border-radius: 30px;
    border: 2px solid white;


}


.icons {
    align-self: flex-end;
    font-size: 45px;
    padding-right: 9rem;
    
}

.icons > a {
    text-decoration: none;
    color: white;
    padding: 5px;

}

.karte-erste-heading > h2 {
    font-size: 45px;
    color: white;
    font-family: 'Play', sans-serif;
    width: fit-content;
}

#karte-erste-heading {
   padding: 1rem 2rem 3rem;

}

/* Div Slides*/
.mySlides {display:none}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

#container-karte {
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 3rem 0rem 7rem 0rem;
    position: relative;

}

.box-karte {
    padding: 0rem 0rem 0rem 0rem;
    
}

.flex-item:nth-child(1){
    border: 3px solid white;
    width: 900px;
}


#karte-img-box > img {
    padding: 10px 10px 0px 0px;
    border-radius: 28px;
    width: 100%;

}

#karte-img-box > p {
    font-size: 14px;
    color: white;
    font-family: 'Play', sans-serif;
    border-bottom: 3px solid white ;
    width: fit-content;
    margin: 3px 0px 0px 8px;

}

#container-karte-content {
   display:flex;
   padding: 2rem;
   background-color: rgb(35, 54, 154);
   border-radius:30px;
   justify-content: center;
   width:50%;

}



#karte-heading-content {
    font-size: 30px;
    color: white;
    font-family: 'Play', sans-serif;
    padding: 0px 0px 0px 5rem;
}

.karte-list  {
    color: white;
    font-family: 'Play', sans-serif;
    font-size:20px;
    padding: 1rem 0rem 0rem 5rem;

}   

.karte-list > li {
    padding: 7px;

}

.box-button {
    padding: 30px 0px 0px 5rem;
    /* kann man rem und px einmischen?*/

}

.box-button > button {
    padding: 10px 20px 15px 7px;
    background-color: rgb(247,148,30);
    color: white;
    font-family: 'Play', sans-serif;
    font-size: 25px;
    cursor: pointer;
    display: inline-block;
    border:none;

}

.box-button > button > i  {
    padding-left: 1rem;
   
   }

#msg-nachKateBox {
    font-size: 30px;
    color: white;
    font-family: 'Play', sans-serif;
    text-align: center;
    padding-bottom: 3rem;

}

#msg-wichtig {
    font-size: 30px;
    color: white;
    font-family: 'Play', sans-serif;
    padding: 2rem 0rem 1rem 2rem;
    
}

#msg-wichtig > i {
    padding-right: 1rem;
    font-size: 35px;

}

 #wichtig-paragraph {
    font-size: 20px;
    color: white;
    font-family: 'Play', sans-serif;
    padding-left: 2rem;
    padding-bottom: 7rem;
}

#container-footer {
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;
    background-color:rgb(25, 29, 124)


}

.footer-item:nth-child(1) {
   padding: 2rem 5rem 2rem 3rem;
   flex: 0 75%;
   box-sizing: border-box;

}

.footer-item:nth-child(2) {
    padding: 2rem 0rem 2rem 3rem;
    flex: 0 25%;
    box-sizing: border-box;

 }

 .footer-item:nth-child(3) {
    padding: 0.5rem 5rem 1rem 3rem;
    flex: 0 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 23px;
    color: white;
    font-family: 'Play', sans-serif;
    word-spacing: 8px;
    
 }  

.footer-item > h2 {
    font-size: 35px;
    color: white;
    font-family: 'Play', sans-serif;
    text-decoration: underline;

    
}

.footer-item > p {
    font-size: 20px;
    color: white;
    font-family: 'Play', sans-serif;
    padding-top: 1rem;
    padding-right: 48rem;
    
}

.footer-icon > i {
    padding: 1rem 1rem 0rem 0rem;
    font-size: 45px;
    color: white;
}

.footer-icon-historia > i {
    padding: 1.5rem 0rem 0rem 1rem;
    font-size: 45px;
    color: white;
}



